.gaz-hammy {
    display: block !important;
    max-height: 70%;
    width: auto;
    margin-top: 5rem;
    margin-left: 5rem;
}

.leaderboard-btn {
    margin-top: 2rem;
}

.content {
    padding-left: 3rem !important;
}

@media screen and (max-width: 600px) {
    .header-image {
        width: 100%;
    }
    .gaz-hammy {
        max-width: 250px;
        height: auto;
        padding-top: 5rem;
        margin-right: 20%;
        margin-left: 20%;
    }
    
    .inner {
        text-align: center;
        margin-top: 5rem;
    }

    .leaderboard-btn {
        margin-top: 2rem;
    }
}