.gaz-hammy {
    display: block !important;
    max-height: 70%;
    width: auto;
    margin-top: 5rem;
    margin-left: 5rem;
}

.leaderboard-btn {
    margin-top: 2rem;
}

.content {
    padding-left: 3rem !important;
}

@media screen and (max-width: 736px) {

    .header {
        margin-top: 5rem;
    }

    #sidebar {
        height: 8em;
        left: 0;
        line-height: 0.5em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        top: 0;
        width: 100%;
    }

    .header-image {
        width: 100%;
    }
    .gaz-hammy {
        max-width: 250px;
        height: auto;
        padding-top: 5rem;
        margin-right: 20%;
        margin-left: 20%;
    }
    
    .inner {
        text-align: center;
        margin-top: 5rem;
    }

    .leaderboard-btn {
        margin-top: 2rem;
    }
}