/*-- -------------------------- -->
<---           Table            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #table-1669 {
    padding: var(--sectionPadding);
  }
  #table-1669 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #table-1669 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width:100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #table-1669 .cs-table {
    width: 100%;
    border-collapse: collapse;
  }
  #table-1669 .cs-th {
    padding: 0.75rem 1rem;
    box-sizing: border-box;
  }
  #table-1669 .cs-td {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
  }
  #table-1669 .cs-th,
  #table-1669 .cs-td {
    border: 1px solid #ddd;
    text-align: center;
  }
  #table-1669 .cs-color .cs-th:first-child {
    color: #fff;
    background-color: var(--primary);
  }
  #table-1669 .cs-th:first-child,
  #table-1669 .cs-td:first-child {
    position: sticky;
    left: 0;
    z-index: 100;
    /* Make sure it sits above the other cells */
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    text-align: left;
  }
  #table-1669 .cs-th {
    background-color: #f2f2f2;
  }
  #table-1669 .cs-tr {
    color: var(--bodyTextColor);
  }
  #table-1669 .cs-icon {
    height: 1rem;
    width: auto;
  }

  tbody {
    font-size: larger;
  }

  .dt-container {
    width: inherit;
  }
}
/* Tablet - 600px */
@media screen and (max-width: 37.5rem) {
  #table-1669 .cs-table {
    display: block;
    overflow-x: auto;
  }

  tbody {
    font-size: larger;
  }

  .dt-container {
    width: inherit;
  }

}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #table-1669 .cs-th {
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #table-1669 .cs-th:first-child,
  body.dark-mode #table-1669 .cs-td:first-child {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgba(255, 255, 255, 0.2);
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #table-1669 .cs-th,
  body.dark-mode #table-1669 .cs-td {
    border-color: rgba(255, 255, 255, 0.2);
  }
  body.dark-mode #table-1669 .cs-color .cs-th:first-child {
    color: #fff;
    background-color: var(--secondary);
  }
  body.dark-mode #table-1669 .cs-tr {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #table-1669 .cs-icon {
    filter: grayscale(1) brightness(1000%);
  }
}


/*-- -------------------------- -->
<---        Brads Changes       -->
<--- -------------------------- -*/

.joker-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.joker-cell {
  align-items: center;
}

.joker-img {
  width: auto;
  height: 6rem ;
}

.icon-wrap {
    display: flex;
    align-items: center;     /* vertical centering */
    gap: 6px;                /* spacing between icon and text */
}

.icon-wrap i {
    flex-shrink: 0;          /* prevent icon from squishing */
}

.rank-icon i {
    margin-right: 6px;
}
.gold { 
  color: #f1c40f;
}
.silver { 
  color: #bdc3c7; 
}
.bronze {
  color: #cd7f32; 
}

#leaderboard .top-row-1 td,
    #leaderboard .top-row-2 td,
    #leaderboard .top-row-3 td {
        font-size: 1.1em;  /* adjust as needed */
        font-weight: 600;  /* optional: make bolder */
    }